<h2>Register</h2>
<form>
  <div class="row">
    <div class="col-md-6">
      <label>User Name</label>
      <input type="text" class="form-control" [(ngModel)]="userName" name="userName" />
      <label>Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password" />
    </div>
    <div class="col-md-6"></div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6">
      <input type="radio" name="role" [value]="1" [(ngModel)]="roleId"> admin 
      <input type="radio" name="role" [value]="2" [(ngModel)]="roleId"> manager 
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div *ngIf="roleId != null">
        <div *ngIf="roleId == 1" class="col-md-6">   <!--admin-->
         <label>Enter a Tavern Name:</label>
         <input type="text" class="form-control" [(ngModel)]="selectTavern.TavernName" name="TavernName" placeholder="Enter a tavern name!">
        </div>
        <div *ngIf="roleId == 2" class="col-md-6">   <!--manager-->
          <label>Select a Tavern</label>
          <select class="form-control" [(ngModel)]="selectTavern.ID" name="Id">
            <option *ngFor='let Tavern of Taverns' [value]="Tavern.ID"> {{Tavern.TavernName}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
    <br />
  <div class="row">
    <div class="col-md-6">
      <button type="submit" class="btn btn-primary" (click)="register()">
        Register
      </button>
      <button type="cancel" class="btn btn-primary" style="float: right" (click)="cancel()">
        Cancel
      </button>
    </div>
  </div>
</form>